<!-- Styles are now in main.css -->

<div class="test-container">
  <h1 class="test-title">Welcome to the Test</h1>
  <p class="test-description">Click the button below to start your test.</p>
  <a href="/test/attend?start=true&user={{userLinkId}}&test={{test_id}}" class="btn btn-blue">
    Start Test
  </a>
</div>