{{#if url}}
    {{#if (startsWith url '/admin')}}
        <footer style="background-color: #34495e; color: white; padding: 20px; border-radius: 0 0 8px 8px; margin-top: auto; text-align: center; width: 100%; box-sizing: border-box;">
            <p style="margin: 0;">&copy; 2024 Skill Test. All rights reserved.</p>
        </footer>
    {{/if}}
{{/if}}
