<header style="background-color: #3498db; color: white; padding: 20px; border-radius: 8px 8px 0 0;">
    <h1 style="margin: 0;">{{title}}</h1>
    <nav style="margin-top: 10px;">
            {{#if (startsWith url '/admin')}}
                <a href="/admin/createProfile" style="color: white; text-decoration: none; margin-right: 10px;">Create Profile</a></li>
                <a href="/admin/viewProfiles" style="color: white; text-decoration: none; margin-right: 10px;">View Profiles</a></li>
            {{/if}}
    </nav>
</header>